@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&display=swap");

:root {
  --black: #000000;
  --blue: #130f40;
  --red: #c31432;
  --gradient: linear-gradient(90deg, var(--black), var(--blue));
  --text-gradient: linear-gradient(90deg, var(--blue), var(--red));
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  outline: none;
  border: none;
  box-sizing: border-box;
  transition: all 0.2s ease-out;
  text-decoration: none;
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: #333;
}

html::-webkit-slider-thumb {
  background: #fff;
  border-radius: 5rem;
}

body {
  background: var(--gradient);
  padding: 3rem 7%;
  padding-bottom: 9rem;
}

.container {
  background: rgba(222, 222, 222, 0.9);
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(222, 222, 222, 0.9);
}

section {
  padding: 2rem 7%;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 2rem 7%;
  position: relative;
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

header .logo {
  font-size: 2.5rem;
  color: var(--blue);
  font-weight: 800;
}

header .logo span {
  color: var(--red);
}

header .navbar a {
  margin-right: 2rem;
  font-size: 2rem;
  color: #333;
}

header .navbar a:hover {
  color: var(--red);
}

#menu {
  font-size: 2.5rem;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.2);
  cursor: pointer;
  display: none;
}

.home {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  align-items: center;
}

.home .content {
  flex: 1 1 40rem;
}

.home .image {
  flex: 1 1 40rem;
}

.home .image img {
  width: 100%;
}

.home .content h3 {
  font-size: 4rem;
  color: transparent;
  font-weight: 800;
  background: var(--text-gradient);
  -webkit-background-clip: text;
  background-clip: text;
}

.home .content p {
  padding: 0.5rem 0;
  font-size: 1.5rem;
  color: #111;
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 1.2rem 3rem;
  border-radius: 2rem;
  background: var(--text-gradient);
  color: #fff;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 600;
}

.btn:hover {
  background: var(--gradient);
}

.footer .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.footer .box-container .box {
  flex: 1 1 20rem;
}

.footer h3 {
  font-size: 2rem;
  color: var(--blue);
  padding: 0.7rem 0;
}

.footer p {
  font-size: 1.5rem;
  color: #666;
  padding: 0.7rem 0;
}

.footer a {
  display: block;
  font-size: 1.5rem;
  color: #666;
  padding: 0.7rem 0;
}

.footer a:hover {
  color: var(--pink);
}

.footer p i {
  margin-right: 0.5rem;
  color: var(--blue);
}

.footer .credit {
  font-size: 1.5rem;
  margin-top: 1rem;
  padding: 1rem;
  padding-top: 2rem;
  text-align: center;
  border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
  color: #666;
}

.footer .credit span {
  color: var(--red);
}

/* resposive */
@media (max-width: 991px) {
  html {
    font-size: 55%;
  }

  body {
    padding: 1.5rem;
  }

  header {
    padding: 1.5rem;
  }

  section {
    padding: 1.5rem;
  }
}

@media (max-width: 768px) {
  #menu {
    display: initial;
  }

  header .navbar {
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    background: rgba(222, 222, 222, 0.9);
    border-top: 0.1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 0.1px solid rgba(0, 0, 0, 0.2);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  header .navbar a {
    font-size: 2.5rem;
    display: block;
    margin: 2rem 0;
    text-align: center;
  }

  header .navbar.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  .home .content h3 {
    padding-top: 5rem;
  }
}

@media (max-width: 991px) {
  html {
    font-size: 50%;
  }
}
